        /* header */
        /* └ logo & menu */
        #navTop {
            position: fixed;
            width: 100%;
            height: 70px;
            z-index: 1;
            overflow: hidden;
            background: #fff;
            border-bottom: 1px solid #ccc;
        }

        #navTop_box {
            width: 80%;
            height: 70px;
            margin: 0 auto;
            transition: all 1s;
            position: relative;
        }

        #navTop_box #logo {
            width: 240px;
            overflow: hidden;
            position: relative;
        }

        #navTop_box #logo>div {
            width: 80px;
            float: left;
            line-height: 70px;
        }

        #navTop_box #logo>span {
            display: inline-block;
            font-size: 14px;
            position: relative;
            top: 30px;
            left: 10px;
        }

        #navTop_box #topMenu {
            position: absolute;
            right: 0;
            top: 0;
            overflow: hidden;
        }

        #navTop_box #topMenu li {
            float: left;
            padding-left: 30px;
            line-height: 70px;
        }

        #navTop_box #topMenu li a {
            font-size: 18px;
        }

        #navTop_box #topMenu li.active>a {
            color: #56996b;
            border-bottom: 3px solid #56996b;
            font-weight: bold;
            padding-bottom: 4px;
        }

        /* section */
        /* .section_content {
            width: 1280px;
            margin: 0 auto;
            transition: all 1s;
        } */

        .section_content h2 {
            position: relative;
            text-align: center;
            font-size: 36px;
            letter-spacing: 3px;
        }


        /* s0 */
        .section_home {
            background: #bcd0bc;
            width: calc(100% - 140px);
            height: calc(100% - 140px);
            margin: 70px;
            position: relative;
        }

        .section_home h1 {
            color: #fff;
            font-size: 130px;
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        /* s1 */
        .s1 h2 {
            position: absolute;
            top: 0;
            width: 100%;
            background: #b3d0bc;
            color: #fff;
            height: 100px;
            margin-top: 70px;
            text-align: center;
            font-size: 36px;
            line-height: 100px;
            letter-spacing: 4px;
        }

        .pr_container {
            width: 90%;
            margin: 0 auto;
            overflow: hidden;
            padding-top: 100px;
        }

        .pr_container .pr_profile {
            width: 28%;
            display: block;
            _display: inline-block;
            position: relative;
            float: left;
            padding-left: 30px;
        }

        .pr_container .pr_profile div {
            margin: 0 auto;
        }

        .pr_container .pr_profile div img {
            width: 200px;
        }

        .pr_container .pr_profile ul {
            margin-top: 80px;
            border-left: 3px solid #56996b;
            padding-left: 10px;
        }

        .pr_container .pr_profile ul li {
            padding-bottom: 15px;
        }

        .pr_container .pr_profile ul li:nth-child(1) {
            padding-bottom: 30px;
            font-size: 18px;
            font-weight: bold;
        }

        .pr_container .pr_profile ul li:nth-child(4) {
            padding-bottom: 0;
        }

        .pr_container .pr-profile ul li i {
            padding-right: 10px;
        }

        /* s1 edu, license*/
        .pr_container .right_box {
            width: 72%;
            display: inline-block;
            position: relative;
        }

        .right_box .pr_box {
            margin-bottom: 45px;
        }

        .right_box .pr_box .pr_title {
            float: left;
            display: block;
            _display: inline-block;
            width: 20%;
            position: relative;
            left: 0;
            top: 0;
            color: #46524a;
            font-size: 20px;
            border-left: 3px solid #56996b;
            padding-left: 10px;
        }

        .right_box .pr_box .pr_date {
            float: left;
            display: block;
            _display: inline-block;
            width: 25%;
        }

        .right_box .pr_box .pr_date div br {
            display: none;
        }

        .right_box .pr_box .pr_txt {
            width: 55%;
            display: inline-block;
        }

        .right_box .pr_box .pr_txt div {
            padding-bottom: 15px;
            font-weight: bold;
        }

        .right_box .pr_box .pr_txt div:nth-of-type(2) {
            padding-bottom: 15px;
        }

        .right_box .pr_box .pr_txt ul {
            padding-left: 20px;
        }

        .right_box .pr_box .pr_txt ul li {
            padding-bottom: 10px;
            word-break: 3px;
            font-size: 14px;
        }

        /* s1 content */
        .right_box .ct_box {
            width: 100%;
            height: 200px;
            background: #ddd;
            position: relative;
        }

        .right_box .ct_inbox {
            width: calc(100% - 40px);
            height: calc(100% - 40px);
            margin: auto;
            border: 1px solid #82998a;
            position: relative;
            top: 20px;
        }

        .right_box .ct_inbox .ct_title {
            text-align: center;
            position: relative;
            top: -15px;
        }

        .right_box .ct_inbox .ct_title h3 {
            text-align: center;
            width: 140px;
            display: inline-block;
            background: #ddd;
            font-size: 20px;
            color: #46524a;
        }

        .right_box .ct_inbox .ct_txt {
            top: -30px;
            display: flex;
            align-items: center;
        }

        .right_box .ct_inbox .ct_txt ul {
            flex: 1;
        }

        .right_box .ct_inbox .ct_txt ul li {
            text-align: center;
            font-size: 18px;
            _display: none;
        }

        .right_box .ct_inbox .ct_txt ul li:nth-child(1) {
            text-align: center;
            padding: 15px 0 12px 0;
        }

        .right_box .ct_inbox .ct_txt ul li:nth-child(1) img {
            width: 20%;
            vertical-align: bottom;
        }

        /* s2 big */
        .s2 {
            width: 90%;
            margin: 0 auto;
        }

        .slide {
            width: 100%;
            height: 80%;
            overflow: hidden;
        }

        /* .slide h2 {
            padding-bottom: 80px;
        } */
        .slide .pf_img_container {
            width: 45%;
            display: block;
            _display: inline-block;
            position: relative;
            float: left;
            margin-left: 5%;
            margin-top: -30px;
        }

        .slide .pf_img_container .pf_image_1 {
            width: 480px;
            position: relative;
            left: 20px;
            top: 0;
            margin-top: 20px;
            display: none;
        }

        /* s2 still */
        .pf_st_cut>ul>li {
            cursor: pointer;
        }

        .slide .pf_img_container .pf_st_cut {
            width: 100%;
            position: relative;
            left: 20px;
        }

        .slide .pf_img_container .pf_st_cut>ul {
            width: 100%;
        }

        .slide .pf_img_container .pf_st_cut>ul>li {
            width: 30%;
            margin: 9px;
            float: left;
        }

        .slide .pf_img_container .pf_st_cut>ul>li>img {
            width: 100%;
        }

        /* s2 text */
        .slide .pf_txt_container {
            width: 45%;
            _display: block;
            display: inline-block;
            padding-left: 7%;
            margin-top: -30px;
        }

        .slide .pf_txt_container .pf_title {
            display: block;
            font-size: 26px;
            margin: 25px 0;
            padding: 10px 0;
            text-align: center;
            background: #b3d0bc;
            color: #fff;
            font-weight: normal;
            border-radius: 10px;
        }

        .slide .pf_txt_container .pf_name {
            display: block;
            _display: inline-block;
            width: 25%;
            float: left;
            padding: 10px 0;
            font-size: 16px;
        }

        .slide .pf_txt_container .pf_txt {
            _display: block;
            display: inline-block;
            width: 75%;
            padding: 10px 0;
            font-weight: bold;
            font-size: 16px;
            line-height: 1.3;
        }

        .pf_gosite {
            position: relative;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 100px;
        }

        .pf_gosite a {
            overflow: hidden;
            position: relative;
            display: inline-block;
            vertical-align: top;
            width: 100%;
            padding: 10px 0;
            font-size: 18px;
            border: 1px solid #aaa;
            transition: 0.5s;
        }

        /* play 버튼 */
        .pf_gosite a:hover {
            color: #fff;
            border: 1px solid #56996b;
        }

        .pf_gosite a::before {
            content: "";
            z-index: -1;
            position: absolute;
            background: #56996b;
            transition: 1s;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            width: 0;
            height: 100%;
        }

        .pf_gosite a:hover::before {
            width: 100%;
        }